
<div class="container">
  <div class="row">
    
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <form [formGroup]="contactForm">

        <div class="input-group">
          <input type="text" class="form-control" formControlName="name" name="name" id="_name" placeholder="Your Name">
        </div>

       <div class="input-group">
          <input type="email" class="form-control" formControlName="email" name="email" id="_email" placeholder="Your Email">
        </div>
 
        <div class="input-group">
          <input type="text" class="form-control" formControlName="subject" name="subject" id="_subject"
            placeholder="subject">
        </div>
       
        <div class="input-group">
          <textarea class="form-control" rows="5" formControlName="body" name="body" id="_body" placeholder="What would you like to say!"></textarea>
        </div>
        
        <div class="mt-4 col-md-12"></div>

        <div class="input-group">
          <button [disabled]="contactForm.invalid" class="btn btn-success btn-lg form-control" type="submit" (click)="submitContact()">Submit</button>
        </div>

      </form>

      <div *ngIf="formSubmitted == true" class=" alert alert-success col-lg-12" style="margin-top: 10px" role="alert">Message received, thank you.
      </div>
   
    </div>
    	 
    <div class="col-md-2"> </div>

  </div>
</div>